.main-home {
  background-image: url("https://data.ac-illust.com/data/thumbnails/2d/2db9d75960ecad136b8d5dc31344a584_t.jpeg");
  background-repeat: no-repeat;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-home__sun {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 30px;
}

/* 회전  추가하기*/

@keyframes sunrotatae {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: none;
  }
}

.main-home__morning-sun-img {
  width: 150px;
  height: 150px;
  border-radius: 400px;
}

.main-home__morning-sun-img:hover {
  will-change: transform;
  animation: sunrotatae 2s ease-in-out infinite;
}

/* 
.main-home__morning-sun-img:hover {
  transform: rotate(720deg);
} */

.main-home__onions {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}

/* 양파맨에 마우스 올리면 좌우로 이동하는 것  추가하기*/
.main-home__onionman {
  width: 150px;
  height: 150px;
  border-radius: 300px;
  margin-left: 30px;
  margin-right: 30px;
}

@keyframes onionmove {
  0% {
    transform: none;
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: none;
  }
}

.main-home__onionman:hover {
  will-change: transform;
  animation: onionmove 0.5s ease-in-out infinite;
}
