.stat__back-icon {
  margin-top: 30px;
  margin-left: 30px;
}

.stat-img {
  width: 400px;
  height: 400px;
  border-radius: 300px;
}

.stat-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes leftToRight {
  0% {
    transform: none;
  }

  50% {
    transform: rotate(720deg);
  }

  100% {
    transform: none;
  }
}

.stat-img:hover {
  will-change: transform;
  animation: leftToRight 2s ease-in-out infinite;
}

.stat-background {
  background-color: white;
}
